/* Estilo General */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #3a8fb7;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 600;
}

/* Perfil */
.perfil {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perfil-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portada-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

/* Estilos para el tipo "Paciente" */
.perfil-img-paciente {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para otros tipos de usuario */
.perfil-img-no-paciente {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Estilo para la sección de disponibilidad */
.disponibilidad {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.disponibilidad h3 {
  text-align: center;
  color: #3a8fb7;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.disponibilidad form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.disponibilidad label {
  font-weight: 600;
  color: #444;
}

.disponibilidad input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.95em;
  color: #333;
}

.disponibilidad button[type="submit"] {
  align-self: center;
  padding: 10px 20px;
  background-color: #3a8fb7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disponibilidad button[type="submit"]:hover {
  background-color: #327aa1;
}

/* Para mejorar la organización de los días de la semana */
.disponibilidad div[formGroupName] {
  padding: 10px;
  border-top: 1px solid #eee;
}

.disponibilidad div[formGroupName]:first-child {
  border-top: none;
}

.disponibilidad .especialidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.especialidad {
  margin: 20px;
}
