<div class="perfil">
  <!-- Primer Directiva (Aplica un estilo visual al elemento h2, como cambiar su color o agregar un efecto resaltado.) -->
  <h2 appResaltar>Mi Perfil</h2>
  <!-- Primer Directiva -->
  <div class="perfil-info">
    <img
      *ngIf="usuario?.tipoUsuario === 'Paciente'"
      [src]="usuario?.imagenPortadaURL"
      alt="Imagen de portada"
      class="portada-img"
    />

    <img
      [src]="usuario?.imagenPerfilURL"
      alt="Imagen de perfil"
      [ngClass]="{
        'perfil-img-paciente': usuario?.tipoUsuario === 'Paciente',
        'perfil-img-no-paciente': usuario?.tipoUsuario !== 'Paciente'
      }"
    />

    <br /><br /><br />
    <!-- Primer Pipe (Combina el nombre y apellido del usuario para mostrar un nombre completo.) -->
    <h3>{{ usuario?.nombre | nombreCompleto : usuario?.apellido }}</h3>
    <!-- Primer Pipe -->
    <!-- Tercera Directiva (Agrega un mensaje o aplica un estilo dependiendo del tipo de usuario) -->
    <p appMensajeRol [rol]="usuario?.tipoUsuario">
      Tipo de usuario: {{ usuario?.tipoUsuario }}
    </p>
    <!-- Tercera Directiva -->
    <p>Email: {{ usuario?.email }}</p>
  </div>

  <div *ngIf="esEspecialista" class="disponibilidad">
    <h3>Mis Horarios de Disponibilidad</h3>
    <form [formGroup]="disponibilidadForm" (ngSubmit)="guardarDisponibilidad()">
      <div formArrayName="especialidades">
        <div
          *ngFor="
            let especialidadGroup of especialidadArray.controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <div class="especialidad">
            <!-- Segundo Pipe (Aplica algún formato o filtrado a las especialidades antes de mostrarlas) -->
            <label>{{ especialidades[i] | filtroEspecialidad }}</label>
            <!-- Segundo Pipe -->
          </div>
          <div
            *ngFor="
              let dia of [
                'lunes',
                'martes',
                'miercoles',
                'jueves',
                'viernes',
                'sabado'
              ]
            "
          >
            <!-- Tercer Pipe (Formatea los nombres de los días (por ejemplo, lunes, martes, etc.) en un formato más legible o específico.) -->
            <label>{{ dia | formatoFecha }}</label>
            <!-- Tercer Pipe -->
            <!-- Segunda Directiva (Marca el campo como obligatorio.) -->
            <input
              type="text"
              formControlName="{{ dia }}"
              placeholder="Ej: 10:00 - 18:00"
              appCampoObligatorio
            />
            <!-- Segunda Directiva -->
          </div>
        </div>
      </div>
      <button type="submit">Guardar Disponibilidad</button>
    </form>
  </div>
</div>
