/* Establecer box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Contenedor principal para ambos formularios */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: transform 0.3s;
}

.botones-usuarios {
  max-width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usuario {
  width: 100%;
  padding: 10px;
}

form:hover {
  transform: scale(1.02);
}

/* Títulos */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4e54c8;
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Inputs y select */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

/* Estilos de foco */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #4e54c8;
}

/* Botones */
button {
  width: 100%;
  padding: 10px;
  background-color: #4e54c8;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #3a3e8f;
  transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

/* Mensajes de error */
.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}

/* Estilo para los botones */
.tipo-usuario-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;

  transition: transform 0.3s ease-in-out; /* Para animación suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tipo-usuario-btn:hover {
  transform: scale(1.1); /* Escalar el botón al pasar el mouse */
}

.tipo-usuario-btn img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.paciente-btn {
  background-color: #5cb85c; /* Color de fondo verde para el paciente */
}

.especialista-btn {
  background-color: #0275d8; /* Color de fondo azul para el especialista */
}

.reCAPTCHA {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del contenedor principal */
.registro-container {
  position: relative;
}

/* Estilo de la animación de carga */
.loading-screen {
  position: fixed; /* Cambiar a fixed para que se ajuste a la ventana visible */
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para que se centre exacto */
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  height: 100vh; /* Asegura que ocupe todo el alto de la pantalla */
}

/* Estilo del formulario */
.form-container {
  z-index: 1;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
