<h2>Historia Clínica</h2>

<!-- Vista para el Especialista -->
<div *ngIf="isEspecialista">
  <h3>Historial de Pacientes</h3>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha y Hora</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Temperatura</th>
        <th>Presión</th>
        <th>Datos Dinámicos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historial of historialClinicoEspecialista">
        <td>{{ historial.pacienteNombre }}</td>
        <td>{{ historial.pacienteApellido }}</td>
        <td>{{ historial.fechaConHora }}</td>
        <td>{{ historial.altura }}</td>
        <td>{{ historial.peso }}</td>
        <td>{{ historial.temperatura }}</td>
        <td>{{ historial.presion }}</td>
        <td>
          <ul>
            <li *ngFor="let dato of historial.datosDinamicos">
              <strong>{{ dato.clave }}:</strong> {{ dato.valor }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Vista para el Paciente -->
<div *ngIf="isPaciente">
  <h3>Mi Historia Clínica</h3>

  <div class="boton-container">
    <button (click)="descargarPDF()" class="boton-descargar">
      Descargar Toda la Historia Clínica en PDF
    </button>
  </div>

  <!-- Selector para especialistas -->
  <div class="selector-container">
    <label for="especialista-selector" class="label-especialista"
      >Seleccionar Especialista:</label
    >
    <select
      id="especialista-selector"
      [(ngModel)]="especialistaSeleccionado"
      class="selector-especialista"
    >
      <option *ngFor="let especialista of especialistas" [value]="especialista">
        {{ especialista }}
      </option>
    </select>
    <button
      *ngIf="especialistaSeleccionado"
      (click)="descargarPDFPorEspecialista()"
      class="boton-descargar-especialista"
    >
      Descargar PDF del Especialista
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Especialista</th>
        <th>Fecha y Hora</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Temperatura</th>
        <th>Presión</th>
        <th>Datos Dinámicos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historial of historialClinicoPaciente">
        <td>
          {{ historial.especialistaNombre }}
          {{ historial.especialistaApellido }}
        </td>
        <td>{{ historial.fechaConHora }}</td>
        <td>{{ historial.altura }}</td>
        <td>{{ historial.peso }}</td>
        <td>{{ historial.temperatura }}</td>
        <td>{{ historial.presion }}</td>
        <td>
          <ul>
            <li *ngFor="let dato of historial.datosDinamicos">
              <strong>{{ dato.clave }}:</strong> {{ dato.valor }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Vista del Historial de Pacientes-->
<div class="historial-cards" *ngIf="isPaciente">
  <div
    class="historial-card"
    *ngFor="let historial of historialClinicoPaciente"
  >
    <p>
      <strong>Especialista:</strong>
      {{ historial.especialistaNombre }} {{ historial.especialistaApellido }}
    </p>

    <p><strong>Fecha:</strong> {{ historial.fechaConHora }}</p>

    <p><strong>Altura:</strong> {{ historial.altura }}</p>

    <p><strong>Peso:</strong> {{ historial.peso }}</p>

    <p><strong>Temperatura:</strong> {{ historial.temperatura }}</p>

    <p><strong>Presión:</strong> {{ historial.presion }}</p>

    <div class="datos-dinamicos">
      <strong>Datos dinámicos:</strong>

      <ul>
        <li *ngFor="let dato of historial.datosDinamicos">
          {{ dato.clave }}: {{ dato.valor }}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Vista del Historial de Especialistas-->
<div class="historial-cards" *ngIf="isEspecialista">
  <div
    class="historial-card"
    *ngFor="let historial of historialClinicoEspecialista"
  >
    <p>
      <strong>Paciente:</strong>
      {{ historial.pacienteNombre }} {{ historial.pacienteApellido }}
    </p>

    <p><strong>Fecha:</strong> {{ historial.fechaConHora }}</p>

    <p><strong>Altura:</strong> {{ historial.altura }}</p>

    <p><strong>Peso:</strong> {{ historial.peso }}</p>

    <p><strong>Temperatura:</strong> {{ historial.temperatura }}</p>

    <p><strong>Presión:</strong> {{ historial.presion }}</p>

    <div class="datos-dinamicos">
      <strong>Datos dinámicos:</strong>

      <ul>
        <li *ngFor="let dato of historial.datosDinamicos">
          {{ dato.clave }}: {{ dato.valor }}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Vista del Historial del Administrador -->
<div class="historial-cards" *ngIf="isAdministrador">
  <div
    class="historial-card"
    *ngFor="let historial of historialClinicoAdministrador"
  >
    <p>
      <strong>Especialista:</strong>
      {{ historial.especialistaNombre }} {{ historial.especialistaApellido }}
    </p>

    <p>
      <strong>Paciente:</strong>
      {{ historial.pacienteNombre }} {{ historial.pacienteApellido }}
    </p>

    <p><strong>Fecha:</strong> {{ historial.fechaConHora }}</p>

    <p><strong>Altura:</strong> {{ historial.altura }}</p>

    <p><strong>Peso:</strong> {{ historial.peso }}</p>

    <p><strong>Temperatura:</strong> {{ historial.temperatura }}</p>

    <p><strong>Presión:</strong> {{ historial.presion }}</p>

    <div class="datos-dinamicos">
      <strong>Datos dinámicos:</strong>
      <ul>
        <li *ngFor="let dato of historial.datosDinamicos">
          {{ dato.clave }}: {{ dato.valor }}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Vista para el Administrador -->
<div *ngIf="isAdministrador">
  <h3>Historial Completo de Pacientes</h3>
  <table>
    <thead>
      <tr>
        <th>Especialista</th>
        <th>Paciente</th>
        <th>Fecha y Hora</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Temperatura</th>
        <th>Presión</th>
        <th>Datos Dinámicos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historial of historialClinicoAdministrador">
        <td>
          {{ historial.especialistaNombre }}
          {{ historial.especialistaApellido }}
        </td>
        <td>
          {{ historial.pacienteNombre }}
          {{ historial.pacienteApellido }}
        </td>
        <td>{{ historial.fechaConHora }}</td>
        <td>{{ historial.altura }}</td>
        <td>{{ historial.peso }}</td>
        <td>{{ historial.temperatura }}</td>
        <td>{{ historial.presion }}</td>
        <td>
          <ul>
            <li *ngFor="let dato of historial.datosDinamicos">
              <strong>{{ dato.clave }}:</strong> {{ dato.valor }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
