<div class="contenedor-principal">
  <h2>Estadísticas de Turnos</h2>

  <div class="botones-descarga">
    <button (click)="descargarPDF()">Descargar como PDF</button>
  </div>
  <br />

  <div id="grafico-ingresos" style="width: 900px; height: 300px"></div>
  <br />
  <div id="grafico-torta" style="width: 900px; height: 300px"></div>
  <br />
  <div id="grafico-area" style="width: 900px; height: 300px"></div>
  <br />
  <div
    id="grafico-barras-especialistas"
    style="width: 900px; height: 300px"
  ></div>
  <br />
  <div id="grafico-lineas" style="width: 900px; height: 300px"></div>
</div>
